In [1]:
import pandas as pd
import numpy as np
#https://bioinformaticsalgorithms.com/data/realdatasets/Replication/Vibrio_cholerae.txt

In [8]:
df = pd.read_table('/content/Vibrio_cholerae.txt', header=None, names=['sequence'])
text = df['sequence'][0]

In [19]:
k = 10

k_mers_df = pd.DataFrame()
for i in range(2, k+1):
  ctr = 0
  l = []
  for j in range(1, len(text)-k):
    l.append(text[j:j+i])
  df = pd.DataFrame(l, columns=[f'Sequences of {i}'])
  df = df.value_counts()
  print(df)
  print(df.shape)
  print()

Sequences of 2
TT                95191
AA                93414
CA                82211
GC                79890
TG                79860
AT                77398
TC                65323
GA                63975
CT                63352
AC                62858
CG                62508
AG                60266
GT                58769
CC                55499
TA                54336
GG                53389
Name: count, dtype: int64
(16,)

Sequences of 3
TTT               31901
AAA               30604
CAA               26911
TTG               26868
TCA               23447
                  ...
GTC               10330
CCC               10105
CTA               10033
TAG                9756
GGG                9523
Name: count, Length: 64, dtype: int64
(64,)

Sequences of 4
TTTT              10206
AAAA               9597
TTTG               8663
CAAA               8516
TTGA               7830
                  ...
GGGG               1877
CCGG               1859
GTCC               1481
GGAC               1444
CTAG               1405
Name: count, Length: 256, dtype: int64
(256,)

Sequences of 5
TTTTT             3193
AAAAA             2958
TTTTG             2765
ATTTT             2713
CAAAA             2713
                  ...
CTAGT              231
GGACC              126
CCAGG              123
GGTCC              113
CCTGG              100
Name: count, Length: 1024, dtype: int64
(1024,)

Sequences of 6
ATTTTT            866
TTTTTT            857
TTTGAT            853
TTTTTC            845
TTTTTG            839
                 ...
GGTCCG             20
CCTGGA             20
CCAGGG             19
GGGTCC             17
GGACCC             13
Name: count, Length: 4096, dtype: int64
(4096,)

Sequences of 7
AAACTCA           326
TGATTTT           323
TTTTTCA           313
GCTCAAT           305
AACTCAA           303
                 ...
GGTCCGG             2
CGGACCC             2
CCAGGTC             2
GGTCCCT             1
CCAGGGT             1
Name: count, Length: 16382, dtype: int64
(16382,)

Sequences of 8
AAACTCAA          183
AACTCAAA          148
GCGTTTGT          148
GGCGTTTG          148
CGTTTGTT          144
                 ...
TGGGACCG            1
CGTCTAGG            1
CGACTCTA            1
AGTCCAGG            1
GGCAGTCT            1
Name: count, Length: 65099, dtype: int64
(65099,)

Sequences of 9
GCGTTTGTT         128
TAACGCCCG         127
CGTTTGTTA         122
AACGCCCGC         122
GGCGTTTGT         120
                 ...
AGGACGACC           1
TCGGGACAC           1
TCGGGACGA           1
GGAGGGACT           1
TTTTTTTTT           1
Name: count, Length: 234316, dtype: int64
(234316,)

Sequences of 10
TAACGCCCGC         119
GCGTTTGTTA         117
GGCGTTTGTT         116
GGACTGGAAA         114
TGGGACTGGA         113
                  ...
CGTTGTTACA           1
CGTTGTGTTG           1
CGTTGTGTTC           1
CGTTGTGTTA           1
TTTTTTTTTC           1
Name: count, Length: 571913, dtype: int64
(571913,)